.box-3-button .text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-3-button-email, .box-3-button-left {
  border: 3px solid #218294;
  border-radius: 25px;
  font-size: 18px;
  color: $sixty-color;
  text-decoration: none;
  text-transform: uppercase;
  width: 250px;
  height: 60px;

  text-align: center;
  line-height: 60px;
  font-family: $second-family;
  position: relative;
  transition: .5s;
  overflow: hidden;
}

.box-3-button-email:hover {
  color: $hover-color;
}

.box-3-button-left:hover {
  background-color: $hover-color;
}



