.footer {
  background-color: $second-color;

  .tab {
    padding: 2em 0;
    text-align: center;
    @include text-decor($main-color, 16px, 400, 30px);
    font-family: $main-family;

  }
}

.footer:after {
  content: "";
  clear: both;
  display: table;
  text-align: center;
}

@media (min-width: 580px) {
  .tab {
    float: left;
    width: 50%;


  }
}

@media (min-width: 866px) {
  .footer {
    //float: left;
    //width: 23%;
    display: flex;
    justify-content: space-around;
    //align-items: center;
  }

}

.footer-down {

  background-image: url("../../assets/img/photo_food1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 20vh;
}

.footer-down-size {
  height: 10em;
  visibility: hidden;
}

.submit-block-4-left {
  margin-bottom: 2px;
  padding: 11px 50px;
  color: $main-color;
  background-color: $hover-color;
  font-family: $main-family;
  border-radius: 27px;

  &:hover {
    opacity: 0.7;
  }
}

.submit-block-4-right {
  padding: 11px 50px;
  color: $main-color;
  background-color: $fifth-color;
  font-family: $main-family;
  border-radius: 27px;

  &:hover {
    opacity: 0.7;
  }
}

