.footer {
   background-color: $second-color;

   .tab {
         padding: 2em 0;
     text-align: center;
     @include text-decor($main-color, 16px, 400,30px);
     font-family:$main-family;

   }
 }
.footer:after{
  content: "";
  clear: both;
  display: table;
  text-align: center;
}
@media (min-width: 580px) {
  .tab {
    float: left;
    width: 50%;


  }
}
@media (min-width: 866px){
  .footer{
    //float: left;
    //width: 23%;
    display: flex;
    justify-content:space-around;
    //align-items: center;
  }

}
  .footer-down {

    background-image: url("../../assets/img/photo_food1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 20vh;
  }

  .footer-down-size {
    height: 10em;
    visibility: hidden;
  }

.submit-block-4-left {
  //padding: 8px;
  background-color: $main-color;
  //border-radius: 15px;
  //border: 1px solid $second-color;
  //@include text-decor($third-color, 18px, 400, 24px)
  background-image: url("../../assets/img/layers-left.jpg");
  //font-family: $main-family;
  background-repeat: no-repeat;
  height: 3.5em;
}
.submit-block-4-right {
  padding: 8px;
  background-color: $fifth-color;

  //border: 1px solid $second-color;
  @include text-decor($third-color, 18px, 400, 24px)
  //background-image: url("../../assets/img/layers-rigth.jpg");
  font-family: $main-family;
 //background-repeat: no-repeat;
  height: 3.5em;
  width: 217px;
  border-radius: 27px;
  border: 1px solid rgba(255, 255, 255, 0.5);

}
input[type="submit"]{
  display:inline-block;
  width:217px;
  height:3.5em;
  //background:#333;
  //color:#fff;
  border:0 none;
  border-radius:27%;
}
